<%- include ../../partials/header.ejs %>
  <%- include ../../partials/navbar.ejs %>
    <%- include ../../partials/sidebar.ejs %>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Data Calon Rekanan</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/calon-rekanan">Calon Rekanan</a></li>
                  <li class="breadcrumb-item active">View User</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">
                          <h4>Data Perusahaan</h4>
                        </h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <dl class="row">
                          <dt class="col-sm-2">Nama Perusahaan</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.namaPerusahaan %>
                          </dd>
                          <dt class="col-sm-2">Bidang Usaha</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.bidangUsaha %>
                          </dd>
                          <dt class="col-sm-2">Tipe</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.tipe %>
                          </dd>
                          <dt class="col-sm-2">NPWP</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.npwp %>
                          </dd>
                          <dt class="col-sm-2">Alamat</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.alamat %>
                          </dd>
                          <dt class="col-sm-2">Kota</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.kota %>
                          </dd>
                          <dt class="col-sm-2">Provinsi</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.provinsi %>
                          </dd>
                          <dt class="col-sm-2">Kode Pos</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.kodePos %>
                          </dd>
                          <dt class="col-sm-2">Telepon/Handphone</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.telepon %>
                          </dd>
                          <dt class="col-sm-2">Website</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan.website %>
                          </dd>
                          <dt class="col-sm-2">Kantor Cabang</dt>
                          <dd class="col-sm-10">
                            <%= dataPerusahaan?.kantorCabang ? 'Ya' : 'Tidak' %>
                          </dd>
                        </dl>
                      </div>
                      <!-- /.card-body -->
                    </div>

                    <div class="card card-primary card-outline card-tabs">
                      <div class="card-header p-0 pt-1 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill"
                              href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home"
                              aria-selected="true">Izin Usaha</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill"
                              href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile"
                              aria-selected="false">Pemilik</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill"
                              href="#custom-tabs-three-messages" role="tab" aria-controls="custom-tabs-three-messages"
                              aria-selected="false">Pengurus</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-three-settings-tab" data-toggle="pill"
                              href="#custom-tabs-three-settings" role="tab" aria-controls="custom-tabs-three-settings"
                              aria-selected="false">Tenaga Ahli</a>
                          </li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <div class="tab-content" id="custom-tabs-three-tabContent">
                          <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel"
                            aria-labelledby="custom-tabs-three-home-tab">
                            <!-- Izin Usaha -->
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">
                                  <h4>Izin Usaha</h4>
                                </h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                <%- include ../table_izin-usaha.ejs %>
                              </div>
                              <!-- /.card-body -->
                            </div>
                          </div>
                          <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel"
                            aria-labelledby="custom-tabs-three-profile-tab">
                            <!-- Pemilik -->
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">
                                  <h4>Pemilik</h4>
                                </h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                <%- include ../table_pemilik.ejs %>
                              </div>
                              <!-- /.card-body -->
                            </div>
                          </div>
                          <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel"
                            aria-labelledby="custom-tabs-three-messages-tab">
                            <!-- Pengurus -->
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">
                                  <h4>Pengurus</h4>
                                </h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                <%- include ../table_pengurus.ejs %>
                              </div>
                              <!-- /.card-body -->
                            </div>
                          </div>
                          <div class="tab-pane fade" id="custom-tabs-three-settings" role="tabpanel"
                            aria-labelledby="custom-tabs-three-settings-tab">
                            <!-- Tenaga Ahli -->
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">
                                  <h4>Tenaga Ahli</h4>
                                </h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body table-responsive">
                                <%- include ../table_tenaga-ahli.ejs %>
                              </div>
                              <!-- /.card-body -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card -->
                    </div>

                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->

              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>

      <%- include ../../partials/footer.ejs %>
        <%- include ../../partials/js.ejs %>